@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");
@-moz-document url("chrome://browser/content/browser.xul"),
               url("chrome://global/content/viewSource.xul") {
  /*LASTPASS下拉菜单美化*/
  #lpt_lastpass-compact-menu,#lpt_lastpass-compact-menu menupopup{
  max-width: 240px !important;
  border: 1px solid ThreeDShadow !important;
  }
  /*LASTPASS密码库AD*/
  #friend{display: none !important;}
  #rightside{display: none !important;}
}